<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.dao.StoreClothingTagDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shop.entity.StoreClothingTag">
        <id column="id" property="id" />
        <result column="clothing_id" property="clothingId" />
        <result column="tag_id" property="tagId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, clothing_id, tag_id
    </sql>

</mapper>
