<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.dao.StoreClothingDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shop.entity.StoreClothing">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="old_price" property="oldPrice" />
        <result column="new_price" property="newPrice" />
        <result column="discount" property="discount" />
        <result column="desc" property="desc" />
        <result column="sales" property="sales" />
        <result column="num" property="num" />
        <result column="image_url_i" property="imageUrlI" />
        <result column="image_url_l" property="imageUrlL" />
        <result column="image_url_m" property="imageUrlM" />
        <result column="image_url_r" property="imageUrlR" />
        <result column="image_url_c" property="imageUrlC" />
        <result column="brand_id" property="brandId" />
        <result column="category_id" property="categoryId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, old_price, new_price, discount, desc, sales, num, image_url_i, image_url_l, image_url_m, image_url_r, image_url_c, brand_id, category_id
    </sql>

    <select id="listPage" resultType="map">
        SELECT
            id,
            name,
            old_price oldPrice,
            new_price newPrice,
            discount,
            `desc`,
            sales,
            num,
            image_url_i imageUrlI,
            image_url_l imageUrlL,
            image_url_m imageUrlM,
            image_url_r imageUrlR,
            image_url_c imageUrlC,
            concat(image_url_i,'|',image_url_l,'|',image_url_m,'|',image_url_r,'|',image_url_c) imgs,
            brand_id brandId,
            brandName,
            category_id categoryId,
            categoryName,
            GROUP_CONCAT( sizeName ) sizeNames,
            GROUP_CONCAT( sizeId ) sizeIds,
            GROUP_CONCAT( DISTINCT ( tagName ) ) tagNames,
            min(tagId)  tagId
        FROM
            (
        SELECT
            sc.id,
            sc.name,
            old_price,
            new_price,
            discount,
            `desc`,
            sales,
            num,
            image_url_i,
            image_url_l,
            image_url_m,
            image_url_r,
            image_url_c,
            brand_id,
            sb.name brandName,
            category_id,
            ss.NAME sizeName,
            ss.id sizeId,
            st.id tagId,
            st.NAME tagName,
            cate.`name` categoryName
        FROM
            store_clothing sc
            LEFT JOIN store_clothing_size scc ON sc.id = scc.clothing_id
            LEFT JOIN store_clothing_tag sct ON sc.id = sct.clothing_id
            LEFT JOIN store_size ss ON scc.size_id = ss.id
            LEFT JOIN store_tag st ON sct.tag_id = st.id
            LEFT JOIN store_category cate ON sc.category_id = cate.id
            LEFT JOIN store_brand sb ON sc.brand_id = sb.id
        ORDER BY
            sc.id,
            ss.id
            ) a
        <where>
            <if test="entity.name != null and entity.name !=''">
                AND name like concat('%',#{entity.name},'%')
            </if>
        </where>
        GROUP BY
            a.id
    </select>

    <select id="isUseClothing" resultType="int">
        select count(*) from store_tag where id in (select tag_id from store_clothing_tag where tag_id in
        <foreach collection="ids" separator="," close=")" open="(" item="item">
            #{item}
        </foreach>
        )
    </select>

    <select id="listBrands" resultType="map">
        select
          id value,
          name label
        from
          store_brand
    </select>

    <select id="listTags" resultType="map">
        select
          id value,
          name label
        from
          store_tag
    </select>

    <select id="listSizes" resultType="map">
        select
          id value,
          name label
        from
          store_size
    </select>

</mapper>
